/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #f4f4f9;
  }
  
  body.dark-mode .navbar a,
  body.dark-mode .footer-text,
  body.dark-mode .contact form input,
  body.dark-mode .contact form textarea {
    color: #f4f4f9;
  }
  
  body.dark-mode .form-container {
    background: rgba(18, 18, 18, 0.9);
  }